<h1 class="text-center">
    <i class="fa fa-check-circle-o"></i>
</h1>
<h2 class="text-center">{{ 'modules.feedback.messages.done_title'|trans }}</h2>
<h3 class="text-center">{{ 'modules.feedback.messages.done_description'|trans }}</h3>
