{% extends 'MegacodersPageBundle:Module:base.html.twig' %}

{% block css_class %}module-wrapper_feedback{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'modules.feedback.entities.feedback.actions.send'|trans }}"/>
    {{ form_end(form) }}
{% endblock %}
