<h3>{{ 'modules.feedback.mail.subject'|trans }}</h3>

<table>
    <tr>
        <th style="padding-right:10px;vertical-align:top;text-align:left;">{{ 'admin.entities.feedback.date'|trans }}</th>
        <td>{{ feedback.date|date('j F Y, H:i') }}</td>
    </tr>
    <tr>
        <th style="padding-right:10px;vertical-align: top;text-align: left;">{{ 'admin.entities.feedback.name'|trans }}</th>
        <td>{{ feedback.name }}</td>
    </tr>
    <tr>
        <th style="padding-right:10px;vertical-align: top;text-align: left;">{{ 'admin.entities.feedback.email'|trans }}</th>
        <td>{{ feedback.email }}</td>
    </tr>
    <tr>
        <th style="padding-right:10px;vertical-align: top;text-align: left;">{{ 'admin.entities.feedback.message'|trans }}</th>
        <td>{{ feedback.message }}</td>
    </tr>
</table>
